.login-container {
    width: 420px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
}

.login-container .login-titile {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.login-container .login-titile .logo-icon {
    font-size: 44px;
    display: flex;
    text-align: center;
    padding: 5px 10px 50px 10px;
    background: linear-gradient(to right, #ff0101, #8d04a8);
    color: white;
}

.login-container .login-titile h1 {
    font-size: 46px;
    text-align: center;
    padding: 5px;
}

.login-container .login-description {
    text-align: center;
}

.login-container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* background: salmon; */
    border-radius: 10px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 18px;
    padding: 0 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
}

.login-container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -5px 0 15px 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #ff07d6;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-container button {
    width: 100%;
    height: 50px;
    background: #fff;
    color: slateblue;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container .register-link {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}

.login-container .register-link a{
    color: #ff07d6;
}

.login-container .continue-with {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.login-container .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 10px 20px 10px;
}

.login-container .login-button {
    background: linear-gradient(to right, #ff0101, #8d04a8);
    color: white;
}